.landing {
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 15%;
  overflow-x: hidden;

  .sliderContainer {
    position: absolute;
    top: calc(50vh - 350px);
  }

  .slider {
    position: relative;
    white-space: nowrap;
  }

  .slider p {
    position: relative;
    margin: 0rem;
    color: rgb(139, 139, 125);
    font-size: 15vw;
    font-weight: 500;
    padding-right: 2rem;
  }

  .slider p:nth-of-type(2) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  .descriptionContainer {
    position: absolute;
    top: 50vh;
  }

  @media (max-width: 800px) {
    .slider p {
      position: relative;
      margin: 0rem;
      color: rgb(139, 139, 125);
      font-size: 17vw;
      font-weight: 500;
      padding-right: 2rem;
    }

    .descriptionContainer {
      position: absolute;
      top: 40vh;
    }
  }

}
