.project{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 8vw 5vh 8vw;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    h2{
        font-size: 4vw;
        margin: 0px;
        font-weight: 400;
        transition: all 0.4s;
    }

    p{
        font-size: 1.5vw;
        transition: all 0.4s;
        font-weight: 300;
    }

    @media (max-width: 800px) {
        p {
            font-size: 2vw;
        }
    }

    &:last-of-type{
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover{
        opacity: 0.5;

        h2{
            transform: translateX(-10px);
        }

        p{
            transform: translateX(10px);
        }
    }
}