.main {
  padding: 10vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .img {
    width: 75vw;
    height: auto;
  }

  .content {
    align-items: flex-start;
    transform: scale(1);
    transition: transform 0.3s;
    border-radius: 25vw;

    .text {
      display: flex;
      flex-direction: column;
      color: white;
      margin-left: 4vw;
      font-size: 1vw;

      .h3Inline {
        display: inline;
        span {
          border: 2px solid white;
          border-radius: 25px;
          margin-right: 1vw;
          padding: 0.5rem;
        }
      }
      h2,
      h4 {
        margin: 0;
        padding: 0.25vh;
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: 800px) {
    .main .content .text {
      color: red;
    }
  }
}
