body{
    margin: 0px;
    overflow-x: hidden;
    cursor: wait;
    scrollbar-width: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, supported by most modern browsers */
}

body::-webkit-scrollbar {
    display: none;
}